<mat-toolbar color="primary">
  <h1 class="mat-headline page-tit-block">
    {{ 'Transaction' }}
  </h1>
</mat-toolbar>
<ng-container *ngIf="transaction$ | async as transaction; else loading">
  <mat-tab-group color="primary" dynamicHeight="true" *ngIf="!transaction.isError; else error" [@.disabled]="true">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:5px;">info</mat-icon>
        {{ 'Transaction Info' }}
      </ng-template>
      <app-transaction-information [transaction]="transaction.value"></app-transaction-information>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon style="margin-right:5px;">code</mat-icon>
        {{ 'Blockchain raw data' }}
      </ng-template>
      <div style="padding:30px;">
        <!-- <ngx-json-viewer [json]="transaction.value" [expanded]="true"></ngx-json-viewer> -->
        <prettyjson [obj]="transaction.value"></prettyjson>
      </div>
    </mat-tab>
  </mat-tab-group>
  <ng-template #error>
    <app-error></app-error>
  </ng-template>
</ng-container>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
